@import '@cds/core/global.min.css';
@import '@cds/core/styles/theme.dark.min.css';
@import '@clr/ui/clr-ui.min.css';


 .clr-input-group {
   /* background-color: #e4e7ec; */
   width: 100%;
}

.clr-input,
.clr-input-wrapper {
  max-width: 100%;
  width: 100%;
}
