# Для всех текстовых файлов используем LF в репозитории, а при checkout — автоматически конвертируем в CRLF (для Windows)
* text=auto eol=lf

# Исключаем бинарные файлы (они не должны конвертироваться)
*.png binary
*.jpg binary
*.jar binary
*.dll binary