<div class="card">
  <div class="card-footer">
    <button class="btn" (click)="reset()">Reload Datagrid</button>
  </div>
</div>

<clr-datagrid
  #myDatagrid
  *ngIf="{ products: products | async }; let data"
  [clrDgLoading]="loading"
  [clrLoadingMoreItems]="loadingMoreItems"
  style="height: 100%;"
>
    <clr-dg-column>Ид</clr-dg-column>
    <clr-dg-column>Наименование</clr-dg-column>
    <clr-dg-column>Описание</clr-dg-column>
    <clr-dg-column>Цена</clr-dg-column>
    <clr-dg-column>Остаток</clr-dg-column>
    <clr-dg-column>Активный</clr-dg-column>
    <clr-dg-column>Создан</clr-dg-column>
    <clr-dg-column>Обновлен</clr-dg-column>
    <clr-dg-column>Ссылка</clr-dg-column>
    <clr-dg-column>Оценка</clr-dg-column>

    <ng-template
        *ngIf="data.products"
        ClrVirtualScroll
        let-product
        [clrVirtualRowsOf]="data.products"
        (renderedRangeChange)="renderRangeChange($event)"
    >
        <clr-dg-row [clrDgItem]="product">
            <clr-dg-cell>{{ product.id }}</clr-dg-cell>
            <clr-dg-cell>{{ product.name }}</clr-dg-cell>
            <clr-dg-cell>{{ product.description }}</clr-dg-cell>
            <clr-dg-cell>{{ product.price }}</clr-dg-cell>
            <clr-dg-cell>{{ product.stockQuantity }}</clr-dg-cell>
            <clr-dg-cell>{{ product.isActive }}</clr-dg-cell>
            <clr-dg-cell>{{ product.createdAt | date }}</clr-dg-cell>
            <clr-dg-cell>{{ product.updatedAt | date }}</clr-dg-cell>
            <clr-dg-cell>{{ product.imageUrl }}</clr-dg-cell>
            <clr-dg-cell>{{ product.rating }}</clr-dg-cell>
        </clr-dg-row>

    </ng-template>
    <clr-dg-footer>{{ data.products?.length }} products</clr-dg-footer>
</clr-datagrid>

