      <form class="clr-form">

        <div class="clr-row">

          <div class="clr-col">
            <clr-input-container>
              <label>Имя пайплайна</label>
              <input clrInput class="clr-input" formControlName = "name"/>
            </clr-input-container>
          </div>

          <div class="clr-col">
            <clr-input-container>
              <label>Расписание</label>
              <input clrInput class="clr-input" formControlName = "cronExpression" />
            </clr-input-container>
          </div>
          
          <div class="clr-break-row"></div>

          <div class="clr-col">
            <clr-input-container>
              <label>Описание</label>
              <input clrInput class="clr-input" formControlName = "description" />
            </clr-input-container>
          </div>

          <div class="clr-col">
            <clr-input-container>
              <label>Заблокирован</label>
              <input clrInput class="clr-input" formControlName = "blocked" />
            </clr-input-container>
          </div>


        </div>

      </form>