<nav class="header">
    <div class="header-container">
        <!-- <a class="logo" routerLink="/">My App</a> -->       
        <div class="nav-links">
            <ul>
                <li *ngFor="let item of routerTokens | keyvalue">
                    <a 
                        routerLink={{item.value.path}} 
                        routerLinkActive="active"
                        (click)="setActiveItem(item.key)"
                    >
                        {{item.value.title}}
                    </a>
                </li>
            </ul>          

            <div class="user-section">
                <div *ngIf="isAuthenticated()">
                    <span>Hello, {{ user()?.name }}</span>
                    <button (click)="logout()">Logout</button>
                </div>
                
                <div *ngIf="!isAuthenticated()">
                    <a routerLink="/login">Login</a>
                </div>
            </div>

        </div>
    </div>        
</nav>