<nav class="header">
    <div class="header-container">
        <!-- <a class="logo" routerLink="/">My App</a> -->       
        <div class="nav-links">
            <ul>
                <li *ngFor="let item of routerTokens | keyvalue">
                    <a 
                        routerLink={{item.value.path}} 
                        routerLinkActive="active"
                        (click)="setActiveItem(item.key)"
                    >
                        {{item.value.title}}
                    </a>
                </li>
            </ul>          
            <!-- <div class="auth-buttons">
            <button class="login-btn">Войти</button>    
            <button class="register-btn">Регистрация</button>
            </div> -->
        </div>
    </div>        
</nav>